@model InventoryManagement.Models.Order

@{
    ViewBag.Title = "Return Parts";
}

<h2>Return Parts</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @foreach (var part in Model.Parts)
        {
    <div class="form-group">
        <div class="row">
            <label class="control-label col-md-2">Part Description</label>
            <div class="col-md-10">
                @Html.DisplayFor(modelItem => part.Details)
            </div>
        </div>
        <div class="row">
            <label class="control-label col-md-2">Part Defective</label>
            <div class="col-md-4">
                @Html.CheckBox("partDefective", false)
            </div>
            <div class="col-md-2">
                <input type="submit" value="Return Part" class="btn btn-default" formaction=@Url.Action("ReturnParts", new {partID=part.PartID }) />
            </div>
        </div>
    </div>
        }
    </div>
}